@model List<FishMarket.Dto.FishDto>

<div id="resultAlert" class="alert alert-success" role="alert" style="display:none">
  <span id="alertMessage"></span>
</div>

<button onclick="$('#newFishModal').modal('show')" class="btn btn-primary">New Fish</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var fish in Model)
        {
            <tr>
                <th colspan="1">@fish.Type</th>
                <td colspan="1">
                    @Html.TextBoxFor(m => fish.Price, new { id="input_" + fish.Id, @class="form-control"})
                </td>
                <td colspan="1"><button type="button" class="btn btn-danger btn-sm" onclick="Delete('@fish.Id')">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<div id="newFishModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Fish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Type</label>
                    <select id="Type" class="form-select" aria-label="Default select example">
                        <option value="">Seçiniz</option>
                        <option value="AKDENIZ MIDYESI">AKDENIZ MIDYESI</option>
                        <option value="BARBUNYA">BARBUNYA</option>
                        <option value="CIPURA">CIPURA</option>
                        <option value="DIL BALIGI">DIL BALIGI</option>
                        <option value="HAMSI">HAMSI </option>
                        <option value="ISKORPIT">ISKORPIT</option>
                        <option value="ISTAVRIT">ISTAVRIT</option>
                        <option value="IZMARIT">IZMARIT </option>
                        <option value="KALKAN">KALKAN</option>
                        <option value="KARAGOZ">KARAGOZ </option>
                        <option value="KEFAL">KEFAL </option>
                        <option value="KILIC">KILIC </option>
                        <option value="KIRLANGIC">KIRLANGIC </option>
                        <option value="KOLYOS">KOLYOS</option>
                        <option value="LEVREK">LEVREK</option>
                        <option value="LUFER">LUFER </option>
                        <option value="MEZGIT">MEZGIT</option>
                        <option value="PALAMUT">PALAMUT </option>
                        <option value="SARDALYA">SARDALYA</option>
                        <option value="TARANCA">TARANCA </option>
                        <option value="TEKIR ">TEKIR </option>
                        <option value="USKUMRU ">USKUMRU </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>

                    <input id="Price" type="number" class="form-control" min="0" value="0" step=".01" placeholder="Ör: 142.4" required>
                </div>
            </div>
            <div class="modal-footer">
                <button id="BtnAddFish" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    var typingTimer; 
    var doneTypingInterval = 2000; 

    var xTriggered = 0;
    
    $("[name='fish.Price']").keypress(function(event) {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function() {
        if (event.which == 13) {
                event.preventDefault();
            }
            xTriggered++;

            var id = event.target.id.split('_')[1];

            $.ajax({
                method: "POST",
                data: {
                    FishId: id,
                    Price: event.target.value
                },
                url: "/FishMarket/Edit",
                success: function(result) {
                    if (result) {
                    var fishName = $("#input_" + id).closest("tr").children()[0].innerHTML;

                        $("#alertMessage").text(fishName + " fiyatı " + event.target.value + " olarak güncellendi.")
                        $("#resultAlert").fadeIn("slow",
                            function() {
                                $("#resultAlert").fadeOut(3000);
                            });
                    }
                }
            });

        
        },doneTypingInterval);
            

    });

    function Delete(fishId) {
        $.ajax({
            type: "DELETE",
            url: "/FishMarket/Delete?fishId=" + fishId,
            success: function(result) {             
                    var fishName = $("#input_" + fishId).closest("tr").children()[0].innerHTML;
                    $("#input_" + fishId).closest("tr").hide('slow', function(){ $("#input_" + fishId).closest("tr").remove(); });
                        $("#alertMessage").text( fishName + " başarıyla silindi.")
                        $("#resultAlert").fadeIn("slow",
                            function() {
                                $("#resultAlert").fadeOut(3000);
                            });
                    
            },
            error: function(err) {

            }
        });
    }

    $("#BtnAddFish").on('click', function() {
        $.ajax({
            method: "POST",
            url: "/FishMarket/Add",
            data: {
                Type: $("#Type").val(),
                Price: $("#Price").val()
            },
            success: function(result) {
                if(true){
                    setTimeout(window.location.reload(), 4000);
                }
            }
        });
    });
</script>