@model List<FishMarket.Dto.FishDto>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fish in Model)
        {
            <tr>
                <th scope="row">@fish.Type</th>
                <td colspan="2">@fish.Price</td>
            </tr>
        }
    </tbody>
</table>
