@inject FishMarket.Web.Service.ISessionService _sessionService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FishMarket.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FishMarket.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">FishMarket | PaneraTech</span>
            </a>

            <ul class="nav nav-pills">
                    <li class="nav-item"><a asp-action="List" asp-controller="FishMarket" class="nav-link">List</a></li>

                @if (_sessionService.GetUser() == null)
                {
                    <li class="nav-item"><a asp-action="Login" asp-controller="User" class="btn btn-outline-primary me-2">Login</a></li>
                }
                else
                {
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            @_sessionService.GetUser().Email
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                }
            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <a href="https://github.com/merterhan/FishMarket">merterhan-GitHub | Fishmarket</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
